.box_left {
  text-align: center !important;
}

.u_likeit_list_module {
  margin-right: 0;
}

.like_article {
  color: #5cb85c;
  background-color: rgba(0, 0, 0, 0);
  border-color: #5CB860;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid #5cb85c;
  border-radius: 4px;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.like_article:hover {
  color: #ffffff;
  background-color: #449d44;
  border-color: #255625;
}

.like_article a:hover {
  color: #ffffff;
  text-decoration: none;
}

._label {
  margin-left: 3px;
}